{% extends 'base.html' %}

{% block content %}
  <h1>Сотрудники</h1>

  <a href="{{ url_for('employees_page') }}" class="btn btn-primary mb-3">Добавить сотрудника</a>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Telegram ID</th>
        <th>ФИО</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      {% for u in users %}
        <tr>
          <td>{{ u.id }}</td>
          <td>{{ u.telegram_id or '-' }}</td>
          <td>{{ u.name }}</td>
          <td>
            <a href="{{ url_for('edit_employee', user_id=u.id) }}" class="btn btn-sm btn-outline-warning">✏️</a>
            <a href="{{ url_for('delete_employee', user_id=u.id) }}" class="btn btn-sm btn-outline-danger">🗑️</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
